include:
  - project: 'ucode/ops/ci-cd'
    ref: master
    file: 'vault/vault.gitlab-ci.yml'

  - project: 'ucode/ops/ci-cd'
    ref: master
    file: 'frontend/ci.gitlab-ci.yml'

  - project: 'ucode/ops/ci-cd'
    ref: master
    file: 'frontend/cd.gitlab-ci.yml'

stages:
  - vault
  - build
  - deploy

