.accordionContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 930px;
}

.mainAccordion {
  width: 100%;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  background: white;
  overflow: hidden;

  &[data-collapsed="true"] {
    height: 93px;
  }
}

.accordionItem {
  width: 100%;
  border: 1px solid #E9EAEB;
  border-radius: 12px;
  overflow: hidden;

  &:not(:last-child) {
    border-bottom: 1px solid #e5e7eb;
  }
}

.accordionButton {
  padding: 20px 24px;
  width: 100%;
  height: 70px;
  background: white;
  border: none;
  border-radius: 0;
  transition: all 0.2s ease;

  &:hover {
    background: #f9fafb;
  }

  &:focus {
    box-shadow: none;
  }

  &[aria-expanded="true"] {
    // background: #f9fafb;
  }
}

.accordionPanel {
  padding: 24px;
  background: white;
  border-top: 1px solid #e5e7eb;
}